/*==========header=========*/
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font: weight 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.logo-blue {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.logo-black {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  color: #212121;
}
.logo-white {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  color: var(--accent-color-logo);
}
a {
  text-decoration: none;
}
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --accent-color-logo: #ffffff;
}
body {
  font-family: var(--main-font);
  font-style: normal;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: #212121;
}
.navigation-list-link-navi {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: #212121;
}
.contact-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: #757575;
}
.contact-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: #757575;
}
.contact {
  font-style: normal;
}
.navigation-list-link-navi:hover,
.navigation-list-link-navi:focus {
  color: var(--accent-color);
}
/*==========end-header=========*/
/*============main-section===============*/
.modal-btn {
  font-style: normal;
}
.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  text-align: center;
  letter-spacing: 0.03em;
}
.modal-btn-navi {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;

  /*color: #FFFFFF;*/
}

.modal-btn-navi:hover,
.modal-btn-navi:focus {
  color: var(--accent-color);
}

.modal-btn .list {
  font-style: normal;
}
.subtitle {
  font: weight 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

  color: #757575;
}
.caption {
  font: weight 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}
li {
  list-style-type: none;
}

/*============end-main-section===============*/

/*========contacts========*/
.contacts {
  background: #2f303a;
}
.contact-adress {
  font: weight 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.contact-email-footer {
  font: weight 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contact-tel-footer {
  font: weight 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/*===========end-contacts=======*/
